<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-secondary text-white">
  <div class="max-w-7xl mx-auto px-4 py-10 grid md:grid-cols-4 gap-8">
    <div>
      <h3 class="font-bold text-lg mb-3">AvtoServis.uz</h3>
      <p class="text-sm text-gray-300">
        O‘zbekistondagi eng yirik avto servis platformasi
      </p>
    </div>

    <div>
      <h3 class="font-bold mb-3">Tez O‘tish</h3>
      <ul class="space-y-2 text-gray-300">
        <li><a href="#">Bosh sahifa</a></li>
        <li><a href="#">Ustalar</a></li>
        <li><a href="#">Xizmatlar</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-bold mb-3">Xizmatlar</h3>
      <ul class="space-y-2 text-gray-300">
        <li>Motor</li>
        <li>Elektr</li>
        <li>Diagnostika</li>
      </ul>
    </div>

    <div>
      <h3 class="font-bold mb-3">Aloqa</h3>
      <p class="text-gray-300 text-sm">
        📞 +998 90 123 45 67 <br>
        📍 Toshkent
      </p>
    </div>
  </div>

  <div class="text-center text-sm text-gray-400 border-t border-gray-600 py-4">
    © 2024 AvtoServis.uz
  </div>
</footer>
</body>
</html> -->